@import url('https://fonts.googleapis.com/css?family=Bree+Serif');
html,
body,
body>div.container-fluid,
body>div.container-fluid>div.row,
body>div.container-fluid>div.row>div {
  min-height: 100%;
}

#side_bar {
  background: #ff9966;
  background: -moz-linear-gradient(45deg, #ff9966 0%, #ff5e62 100%);
  background: -webkit-linear-gradient(45deg, #ff9966 0%, #ff5e62 100%);
  background: linear-gradient(45deg, #ff9966 0%, #ff5e62 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9966', endColorstr='#ff5e62', GradientType=1);
}

#side_bar>div.container {
  height: auto;
  padding: 150px 50px;
}

#side_bar h1 {
  font-family: 'Bree Serif', serif;
}

#side_bar h1>small {
  color: #f6f6f6;
}

#side_bar a {
  color: #FEE980;
}

#side_bar ul {
  margin-top: 50px;
  margin-left: 50px;
}

#side_bar ul a,
#side_bar ul svg {
  color: white
}

#side_bar nav {
  min-height: 100px;
}

@media (max-width: 1200px) {
  #side_bar>div.container {
    padding: 0;
    min-height: auto
  }
  /*
  #side_bar {
    height: 50%
  }
  #side_bar {
    height: 50%
  }
  */
}