span[data-diff-type="structural"] {
  display: inline;
  position: relative;
}

/*
span[data-diff-type="structural"]:hover>span.new, span[data-diff-type="structural"]:hover>span.old{
  filter: brightness(130%)
}
*/

span[data-diff-type="structural"]>span:after {
  content: ']'
}

span[data-diff-type="structural"]>span:before {
  content: '['
}


span.old {
  text-decoration: line-through;
}

span.new,
span.old {
  white-space: pre;
  line-height: initial;
  padding: 1px 3px
}

span[data-diff-type="structural"]>span.new {
  position: absolute;
  top: -25px
}

p {
  line-height: 300%
}

h1.mt-4 {
  margin-bottom: 40px
}

div#container,
nav {
  margin-left: 320px;
}

div#container {
  margin-left: 350px;
  width: 70% !important
}

.badge {
  color: white !important
}

i.fas.invisible {
  display: none
}

#sidebar-wrapper {
  position: fixed;
  z-index: 10;
}


span[data-diff-type="semantic"].muted>span>span {
  background-color: white !important
}

span[data-diff-type="structural"].muted>span {
  color: #212529 !important
}

span[data-diff-type="semantic"].muted>span[data-diff-type="structural"].muted>span.new {
  position: initial !important;
}

span[data-diff-type="semantic"].muted>span[data-diff-type="structural"].muted>span.old {
  display: none;
}

span[data-diff-type="semantic"].muted>span[data-diff-type="structural"].muted>span::after,
span[data-diff-type="semantic"].muted>span[data-diff-type="structural"].muted>span::before {
  display: none;
}

span[data-diff-type="semantic"].old_version>span>span.new {
  display: none;
}

span[data-diff-type="semantic"].old_version>span>span.old {
  text-decoration: none;
  display: initial !important;
  color: #212529 !important
}

span[data-diff-type="semantic"].old_version>span>span::after,
span[data-diff-type="semantic"].old_version>span>span::before {
  display: none;
}

.fix {
  background-color: #ffccbc
}

.style {
  background-color: #d7ccc8
}

.meaning {
  background-color: #bbdefb
}

.edit_chain {
  background-color: #dcedc8;
}

/* Text colors */
span[data-diff-op="fix"]>span>span {
  background-color: #ffccbc
}

span[data-diff-op="style"]>span>span {
  background-color: #d7ccc8
}

span[data-diff-op="meaning"]>span>span {
  background-color: #bbdefb
}

span[data-diff-op="edit_chain"]>span>span {
  background-color: #dcedc8
}

.punctuation>.badge {
  background-color: white;
  color: #d50000 !important
}

.punctuation {
  margin-left: 20px
}

.wordchange>.badge {
  background-color: white;
  color: #304ffe !important
}

.wordchange {
  margin-left: 20px
}

.wordreplace>.badge {
  background-color: white;
  color: #00bfa5 !important
}

.wordreplace {
  margin-left: 20px
}

.textinsert_delete>.badge {
  background-color: white;
  color: #6200ea !important
}

.textinsert_delete {
  margin-left: 20px
}

.textreplace>.badge {
  background-color: white;
  color: #0091ea !important
}

.textreplace {
  margin-left: 20px
}

.insert_delete>.badge {
  background-color: white;
  color: #aa00ff !important
}

.insert_delete {
  margin-left: 20px
}

.wrap_unwrap>.badge {
  background-color: white;
  color: #ff6d00 !important
}

.wrap_unwrap {
  margin-left: 20px
}

.join_split>.badge {
  background-color: white;
  color: #6200ea !important
}

.join_split {
  margin-left: 20px
}

.replace>.badge {
  background-color: white;
  color: #c51162 !important
}

.replace {
  margin-left: 20px
}

span[data-diff-op="punctuation"]>span {
  color: #d50000
}

span[data-diff-op="wordchange"]>span {
  color: #304ffe
}

span[data-diff-op="wordreplace"]>span {
  color: #00bfa5
}

span[data-diff-op="textinsert_delete"]>span {
  color: #6200ea
}

span[data-diff-op="textreplace"]>span {
  color: #0091ea
}

span[data-diff-op="insert_delete"]>span {
  color: #aa00ff
}

span[data-diff-op="wrap_unwrap"]>span {
  color: #ff6d00
}

span[data-diff-op="join_split"]>span {
  color: #6200ea
}

span[data-diff-op="replace"]>span {
  color: #c51162
}